/**** Start Background Color ****/

.blue {
  background: #28ABE3;
}
.green {
  background: #72bf48;
}
.red {
  background: #FF432E;
}
.light-red {
  background: #FB6648;
}
.light-orange {
  background: #FA6900;
}
.color {
  background: #0ECEAB;
}
.black {
  background: #000;
}
.gold {
  background: #ffd700;
}
