/* Custom Tab */

.custom-tab .nav-tabs.nav-justified > .active > a,
.custom-tab .nav-tabs.nav-justified > .active > a:hover,
.custom-tab .nav-tabs.nav-justified > .active > a:focus {
  border-radius: 0;
//border-left-color: transparent;
  color: #666;
  border-bottom-color: #ddd;
}
.custom-tab .nav-tabs.nav-justified {
  margin-bottom: 20px;
  background: #FF432E;
}
.custom-tab .nav-tabs.nav-justified > li {
  border-right: 1px solid #f1f1f1;
}
.custom-tab .nav-tabs.nav-justified > li:last-child {
  border-right: none;
}
.custom-tab .nav-tabs.nav-justified > li > a {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.custom-tab .nav-tabs.nav-justified > li > a:hover {
  border-radius: 0;
  color: #333;
}
.custom-tab .tab-content .tab-pane p {
  text-align: justify;
  color: #777;
}
@media only screen
and (min-width : 320px)
and (max-width : 991px) {

  .custom-tab {
    margin-top: 30px;
  }

}
