/**** Start Feature Section ****/

.feature, .feature-2 {
  padding-bottom: 80px;
}
.feature {
  text-align: center;
}
.feature h4{
  font-size: 15px;
  color: #666;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
.feature-2 h4{
  font-size: 15px;
  color: #444;
  padding-bottom: 10px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
.feature p, .feature-2 p {
  color: #444;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
.feature i {
  font-size:3.5em;
  color:#fff;
  background: #FF432E;
  width: 100px;
  height: 100px;
  padding:25px;
  margin-bottom: 10px;
  -webkit-border-radius:70%;
  -moz-border-radius:70%;
  -o-border-radius:70%;
  border-radius:70%;
  position: relative;
  box-shadow: 0 0 0 30px transparent;
  -webkit-transform: translate3d(2, 2, 2);
  -moz-transform: translate3d(2, 2, 2);
  -o-transform: translate3d(2, 2, 2);
  transform: translate3d(2, 2, 2);
  -webkit-transition: box-shadow .6s ease-in-out;
  -moz-transition: box-shadow .6s ease-in-out;
  -o-transition: box-shadow .6s ease-in-out;
  transition: box-shadow .6s ease-in-out;
}
.no-touch .feature:hover i,
.no-touch .feature:active i,
.no-touch .feature:focus i {

  -webkit-transition: box-shadow .4s ease-in-out;
  -moz-transition: box-shadow .4s ease-in-out;
  -o-transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
  box-shadow: 0 0 0 0 #FF432E;
}
.feature-2 i {
  color:#FF432E;
  font-size:3em;
  padding:1px 10px 0 1px;
  position: relative;

}
