/**** Start Team Member Section ****/

.team-member {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.team-details {
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.team-member img {
  width: 100%;
  height: auto;
}
.team-details h4 {
  font-size: 25px;
  font-weight: 300;
  color: #FF432E;
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  text-align: center;
  padding-top: 20%;
}
.team-details .designation {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.team-details ul {
  padding-top: 40%;
}
.team-details li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}
.team-details li a {
  padding: 5px 8px;
  background: #FF432E;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.team-member:hover .team-details {
  opacity: 1;
  -webkit-animation: pulse;
  animation: pulse;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
}
