/**** Start Section Title Section ****/

.section-title h3{
  color: #666 !important;
//font-style: italic;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  text-transform: none;
}
.section-title p {
  padding-bottom: 60px;
  color: #999;
  font-size: 18px;
//font-style: italic;
  font-weight: 300;
}
